@charset "UTF-8";

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    margin: 0;
    padding: 0;
    width: 90%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    background-color: #f1f1f0;
}

nav {
    position: relative;
    display: flex;
    justify-content: center; /* 중앙 기준으로 메뉴 정렬 */
    align-items: center;
    height: 60px;
    background-color: #333;
}

nav a {
    color: white;
    padding: 14px;
    text-decoration: none;
    text-align: center;
    margin: 0;
}

#icon {
    position: absolute;
    left: 100px;
    font-weight: bold;
    font-size: 1.5em;
}

.navmenu {
    display: flex;
    gap: 20px;
}

.navright {
    position: absolute;
    right: 100px;
}

.search {
    position: relative;
    width: 70%;
    margin: 20px auto;
}
  
.searchBox {
    width: 100%;
    padding: 10px 80px 10px 10px; 
    font-size: 1rem;
    border: 1px solid #ccc;
    outline: none;
    box-sizing: border-box;
}
  
.searchButton {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    padding: 6px 12px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 4px;
}

.searchResult {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin:5px;
}

.contentContainer {
    display: flex;;
    margin-top: 20px;
    gap: 10px;
}

.filter {
    width: 200px;
    background-color: #333;
    color: #fff;
    max-height: 450px;
}

.filter h3 {
    margin: 10px;
}

.filter p {
    margin: 5px;
    margin-left: 10px;
}

input[for=minPrice], input[for=maxPrice]{
    margin-left: 10px;
}

#minPrice, #maxPrice {
    width: 50px;
    margin-left: 10px;
}

label[for=status], label[for=method], label[for=able] {
    display: block;
    margin-bottom: 10px;
    margin-left: 10px;
}

.content {
    width: 100%;
    background-color: #c7eef7;
}
